/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* regole header */
header{
    color: white;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 530px;
}

nav{
    padding: 10px 0;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-nav li{
    padding: 0 20px;
}

.white-btn{
    color: black;
    background-color: white;
    border: white;
    border-radius: 30px;
    padding: 5px 10px;
}

.sub-header{
    width: 60%;
    margin: 100px auto;
}

.sub-header{
    text-align: center;
}

.sub-header h1{
    font-size: 40px;
    padding: 30px;
}

.sub-header p{
    font-size: 17px;
}
.download{
    padding: 30px 0;
}

.black-btn{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 10px;
}

/* regole sections */

.white-bg, .reverse{
    display: flex;
    justify-content: flex-end;  
}

.white-bg, .reverse, .last-section{
    padding: 80px 0;
} 
.text-section{
    width: 25%;
    padding: 30px;
}

.text-section p, .last-section p{
    font-size: 16px;
}

.text-section.even{
    margin-left: 50px;
}

.text-section.odd{
    margin-right: 50px;
} 

.text-section h2, .last-section h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.gray-bg{
    background-color: #ebe4e4;
}

.last-section{
    text-align: center;
}

.last-section h4{
    font-size: 20px;
    margin: 30px 0;
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: 45%;
}

.violet{
    color: white;
    background-color: #9855d6;
    border-radius: 30px;
    padding: 5px 10px;
}

/* regole footer */

footer{
    background-color: black;
    color: white;
    font-size: 12px;
    height: 500px;
}

footer a{
    color: white;
}

.first-col{
    width: 15%;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9855d6;
    padding: 30px 0;
}

footer h4{
    font-size: 20px;
}

footer h4, .first-list{
    color: #9855d6;
}

.language, .space-footer{
    margin: 15px 0;
}

.language img{
    width: 20px;
}

.space{
    margin: 0 5px;
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 50px 0;
}

.sub-footer img{
    width: 80px;
}